<th:block th:replace="~{modules/partial/scripts/defines}" />
<th:block th:replace="~{modules/partial/scripts/utils}" />
<th:block th:replace="~{modules/partial/scripts/sidebar}" />
<th:block th:replace="~{modules/partial/scripts/tagtree}" />
<script th:src="@{/assets/js/main.js?v={version}(version=${theme.spec.version})}"></script>
<th:block th:replace="~{modules/partial/scripts/theme}" />

<th:block th:replace="~{modules/partial/scripts/services}" />

<th:block th:replace="~{modules/plugins/index}" />

<script type="text/javascript" th:if="${not #strings.isEmpty(theme.config.custom.code_js)}"
        th:utext="${theme.config.custom.code_js}"></script>
<th:block th:if="${not #strings.isEmpty(theme.config.custom.head_html)}"
        th:utext="${theme.config.custom.head_html}"> </th:block>