<div class="article banner top">
    <img th:unless="${#strings.isEmpty(post.spec.cover)}" class="bg" th:src="${post.spec.cover}">
    <div class="content" th:style="${#strings.isEmpty(post.spec.cover) ? '' : '--text-banner:var(--text)'}">
        <div class="top bread-nav footnote">
            <div class="left">
                <div class="flex-row" id="breadcrumb">
                    <a class="cap breadcrumb" href="/">[[#{btn.home}]]</a>
                    <th:block th:if="${not #lists.isEmpty(post.categories)}">
                        <span class="sep"></span>
                        <a class="cap breadcrumb" th:href="@{${post.categories.get(0).status.permalink}}" th:text="${post.categories.get(0).spec.displayName}"></a>
                    </th:block>
                </div>
                <div class="flex-row" id="post-meta">
                    <a class="author" th:href="@{${post.owner.permalink}}" th:text="${post.owner.displayName}"></a>
                    <span class="sep"></span>
                    <span class="text created">
                        <time th:datetime="${#dates.format(post.spec.publishTime, 'yyyy-MM-dd HH:mm:ss')}"
                            th:text="${#dates.format(post.spec.publishTime,'yyyy年MM月dd日')}"></time>
                    </span>
                    <th:block th:if="${not #strings.isEmpty(post.status.lastModifyTime)}">
                        <span class="sep updated"></span>
                        <span class="text updated">[[#{meta.updated}]]：<time
                                th:datetime="${#dates.format(post.status.lastModifyTime, 'yyyy-MM-dd HH:mm:ss')}"
                                th:text="${#dates.format(post.status.lastModifyTime,'yyyy年MM月dd日')}"></time>
                        </span>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="bottom only-title">
            <div class="text-area">
                <h1 class="text title"><span th:text="${post.spec.title}"></span></h1>
            </div>
        </div>
    </div>
</div>