<div class="related-wrap" id="related-posts" 
th:if="${theme.config.article.related_posts.enable && not #lists.isEmpty(post.categories)}">
    <section class="header">
        <div class="title cap theme">[[#{meta.related_posts}]]</div>
    </section>
    <section class='body'>
        <div class="related-posts">
            <th:block th:with="recommandPosts = ${postFinder.list({
                page: 1,
                size: ${theme.config.article.related_posts.max_count},
                categoryName: ${post.categories.get(0).metadata.name},
                sort: {'spec.publishTime,desc', 'metadata.creationTimestamp,asc'}
              })}">
              <th:block th:each="recommandPost,iterStat :${recommandPosts}">
                      <a th:if="${iterStat.index < 6 && not #strings.equals(post.spec.title, recommandPost.spec.title)}"
                      class="item" th:href="@{${recommandPost.status.permalink}}" th:title="${recommandPost.spec.title}">
                        <span class="title" th:text="${recommandPost.spec.title}"></span>
                        <span class="excerpt" 
                            th:if="${!recommandPost.spec.excerpt.autoGenerate}" 
                            th:text="${recommandPost.spec.excerpt.raw}"></span>
                      </a>
              </th:block>
            </th:block>    
        </div>
    </section>
</div>