<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(head = null,content = ~{::content},_left = ~{::left},_right = ~{::right},page_type = 'index',layout = 'undefined',_title = null,_type = null,_indent = null)}">

<th:block th:fragment="left">
  <th:block
    th:replace="~{modules/partial/sidebar/logo :: logo('sidebar',null,${theme.config.logo.avatar},${theme.config.logo.title},${theme.config.logo.subtitle},'/')}">
  </th:block>
  <div class="nav-area">
    <th:block th:replace="~{modules/partial/sidebar/search}"></th:block>
    <th:block th:replace="~{modules/partial/sidebar/menu :: menu('sidebar')}"></th:block>
  </div>
  <div th:replace="~{modules/partial/sidebar/widgets :: widgets(${theme.config.site_tree.index.leftbar})}"></div>
  <th:block th:replace="~{modules/partial/sidebar/footer}"></th:block>
</th:block>
<th:block th:fragment="right">
  <div th:replace="~{modules/partial/sidebar/widgets :: widgets(${theme.config.site_tree.index.rightbar})}"></div>
</th:block>

<th:block th:fragment="content">
  <th:block
    th:replace="~{modules/partial/sidebar/logo :: logo('main',null,${theme.config.logo.avatar},${theme.config.logo.title},${theme.config.logo.subtitle},'')}">
  </th:block>
  <th:block th:replace="~{modules/partial/main/navbar/index_nav_tabs_blog}" />
  <div class="post-list post" th:with="_layout = 'post'">
    <th:block th:each="post,iter : ${posts.items}">
      <th:block th:replace="~{modules/partial/main/post_list/layout_post_card}" />
    </th:block>
  </div>
  <th:block th:replace="~{modules/partial/main/post_list/paginator :: page('',${posts})}"></th:block>
</th:block>

</html>