<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(head = null,content = ~{::content},_left = ~{::left},_right = ~{::right},page_type = 'content',layout = 'page',_title = ${singlePage.spec.title},
  _type = ${#annotations.getOrDefault(singlePage, 'stellar_page_type','tech')},_indent = ${#annotations.get(singlePage, 'stellar_page_indent')})}">

<th:block th:fragment="left">
  <th:block
    th:replace="~{modules/partial/sidebar/logo :: logo('sidebar',null,${theme.config.logo.avatar},${theme.config.logo.title},${theme.config.logo.subtitle},'/')}">
  </th:block>
  <div class="nav-area">
    <th:block th:replace="~{modules/partial/sidebar/search}"></th:block>
    <th:block th:replace="~{modules/partial/sidebar/menu :: menu('sidebar')}"></th:block>
  </div>
  <div th:replace="~{modules/partial/sidebar/widgets :: widgets(${theme.config.site_tree.page.leftbar})}"></div>
  <th:block th:replace="~{modules/partial/sidebar/footer}"></th:block>
</th:block>

<th:block th:fragment="right" th:with="repo = ${#annotations.get(singlePage, 'stellar_page_repo')}">
  <div th:replace="~{modules/partial/sidebar/widgets :: widgets(${theme.config.site_tree.page.rightbar})}"></div>
</th:block>

<th:block th:fragment="content">
  <article class="md-text content">
    <th:block th:utext="${singlePage.content.content}"></th:block>
  </article>
  <th:block th:with="name=${singlePage.metadata.name},kind='SinglePage',group='content.halo.run'">
    <th:block th:replace="~{modules/partial/comments/default/layout}" />
  </th:block>
</th:block>

</html>